#chessBoard td {
  width: 34px;
  height: 34px;
  text-align: center;
  vertical-align: center;
  padding: 0px;
  border: 0px solid #000;
}

#chessBoard {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-collapse: collapse;
}

.black {
  background-color: #000;
  color: #fff;
}
